### Завдання 0

In [2]:
# Підключаємось до БД:

import sqlite3                          # подключаемся к библиотеке

def result(sql_text):                   # создаем функцию для коннекта с нашей БД и вывода результатов
    conn = sqlite3.connect('tysql.sqlite')  
    curs = conn.cursor()                # создаем объект курсор
    curs.execute(sql_text)              # выполняем запрос

    for row in curs.fetchall():         # черех цикл получаем результаты запроса и выводим результаты на печать
        print(row)                      # функция принтует, поэтому return не нужен
    
    conn.close()

In [3]:
# Виводимо інформацію про БД:

info_database = "SELECT * FROM sqlite_master"
result(info_database)

('table', 'Customers', 'Customers', 2, 'CREATE TABLE Customers\n(\n  cust_id      char(10)  NOT NULL ,\n  cust_name    char(50)  NOT NULL ,\n  cust_address char(50)  NULL ,\n  cust_city    char(50)  NULL ,\n  cust_state   char(5)   NULL ,\n  cust_zip     char(10)  NULL ,\n  cust_country char(50)  NULL ,\n  cust_contact char(50)  NULL ,\n  cust_email   char(255) NULL ,\n  PRIMARY KEY (cust_id)\n)')
('index', 'sqlite_autoindex_Customers_1', 'Customers', 3, None)
('table', 'OrderItems', 'OrderItems', 4, 'CREATE TABLE OrderItems\n(\n  order_num  int          NOT NULL                      ,\n  order_item int          NOT NULL                      ,\n  prod_id    char(10)     NOT NULL                      ,\n  quantity   int          NOT NULL                      ,\n  item_price decimal(8,2) NOT NULL                      ,\n  PRIMARY KEY (order_num, order_item)                   ,\n  FOREIGN KEY (order_num) REFERENCES Orders (order_num) ,\n  FOREIGN KEY (prod_id) REFERENCES Products (prod_id)\n)')
('index', 'sqlite_autoindex_OrderItems_1', 'OrderItems', 5, None)
('table', 'Orders', 'Orders', 7, 'CREATE TABLE Orders\n(\n  order_num  int      NOT NULL ,\n  order_date datetime NOT NULL ,\n  cust_id    char(10) NOT NULL ,\n  PRIMARY KEY (order_num)      ,\n  FOREIGN KEY (cust_id) REFERENCES Customers (cust_id)\n)')
('index', 'sqlite_autoindex_Orders_1', 'Orders', 9, None)
('table', 'Products', 'Products', 10, 'CREATE TABLE Products\n(\n  prod_id    char(10)      NOT NULL ,\n  vend_id    char(10)      NOT NULL ,\n  prod_name  char(255)     NOT NULL ,\n  prod_price decimal(8,2)  NOT NULL ,\n  prod_desc  text          NULL     ,\n  PRIMARY KEY (prod_id)             ,\n  FOREIGN KEY (vend_id) REFERENCES Vendors (vend_id)\n)')
('index', 'sqlite_autoindex_Products_1', 'Products', 11, None)
('table', 'Vendors', 'Vendors', 12, 'CREATE TABLE Vendors\n(\n  vend_id      char(10) NOT NULL ,\n  vend_name    char(50) NOT NULL ,\n  vend_address char(50) NULL     ,\n  vend_city    char(50) NULL     ,\n  vend_state   char(5)  NULL     ,\n  vend_zip     char(10) NULL     ,\n  vend_country char(50) NULL     ,\n  PRIMARY KEY (vend_id)\n)')
('index', 'sqlite_autoindex_Vendors_1', 'Vendors', 13, None)

In [4]:
# Виводимо перелік всіх таблиць БД:

list_tables = "SELECT name FROM sqlite_master WHERE type = 'table'"
result(list_tables)

('Customers',)
('OrderItems',)
('Orders',)
('Products',)
('Vendors',)

In [20]:
# Виводимо схему даних БД:

print('Customers:')
data_schema_Customers = "PRAGMA table_info (Customers)"
result(data_schema_Customers)

print('\n OrderItems:')
data_schema_OrderItems = "PRAGMA table_info (OrderItems)"
result(data_schema_OrderItems)

print('\n Orders:')
data_schema_Orders = "PRAGMA table_info (Orders)"
result(data_schema_Orders)

print('\n Products:')
data_schema_Products = "PRAGMA table_info (Products)"
result(data_schema_Products)

print('\n Vendors:')
data_schema_Vendors = "PRAGMA table_info (Vendors)"
result(data_schema_Vendors)

Customers:
(0, 'cust_id', 'char(10)', 1, None, 1)
(1, 'cust_name', 'char(50)', 1, None, 0)
(2, 'cust_address', 'char(50)', 0, None, 0)
(3, 'cust_city', 'char(50)', 0, None, 0)
(4, 'cust_state', 'char(5)', 0, None, 0)
(5, 'cust_zip', 'char(10)', 0, None, 0)
(6, 'cust_country', 'char(50)', 0, None, 0)
(7, 'cust_contact', 'char(50)', 0, None, 0)
(8, 'cust_email', 'char(255)', 0, None, 0)

 OrderItems:
(0, 'order_num', 'int', 1, None, 1)
(1, 'order_item', 'int', 1, None, 2)
(2, 'prod_id', 'char(10)', 1, None, 0)
(3, 'quantity', 'int', 1, None, 0)
(4, 'item_price', 'decimal(8,2)', 1, None, 0)

 Orders:
(0, 'order_num', 'int', 1, None, 1)
(1, 'order_date', 'datetime', 1, None, 0)
(2, 'cust_id', 'char(10)', 1, None, 0)

 Products:
(0, 'prod_id', 'char(10)', 1, None, 1)
(1, 'vend_id', 'char(10)', 1, None, 0)
(2, 'prod_name', 'char(255)', 1, None, 0)
(3, 'prod_price', 'decimal(8,2)', 1, None, 0)
(4, 'prod_desc', 'text', 0, None, 0)

 Vendors:
(0, 'vend_id', 'char(10)', 1, None, 1)
(1, 'vend_name', 'char(50)', 1, None, 0)
(2, 'vend_address', 'char(50)', 0, None, 0)
(3, 'vend_city', 'char(50)', 0, None, 0)
(4, 'vend_state', 'char(5)', 0, None, 0)
(5, 'vend_zip', 'char(10)', 0, None, 0)
(6, 'vend_country', 'char(50)', 0, None, 0)

### Завдання 1

In [22]:
# Вивести список всіх cust_id з таблиці Customers:

list_cust_id = """ SELECT cust_id FROM Customers """
result(list_cust_id)

('1000000001',)
('1000000002',)
('1000000003',)
('1000000004',)
('1000000005',)

In [25]:
# Виводимо всю таблицю Customers:

print('Customers:')
Customers = """ SELECT * FROM Customers """
result(Customers)

Customers:
('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

In [39]:
# Вивести cписок клієнтів (cust_name) відсортованих від Z до A:

print('Cписок клієнтів (cust_name) відсортованих від Z до A:')
list_Customers = """ SELECT cust_name FROM Customers ORDER BY cust_name DESC """
result(list_Customers)

Cписок клієнтів (cust_name) відсортованих від Z до A:
('Village Toys',)
('The Toy Store',)
('Kids Place',)
('Fun4All',)
('Fun4All',)

In [29]:
# Виводимо таблицю клієнтів та замовлень (cust_id, order_num), що відсортована по клієнту та даті замовлення:

print('Таблиця клієнтів та замовлень (cust_id, order_num), що відсортована по клієнту та даті замовлення')
Customers_orders = """ SELECT cust_id, order_num FROM Orders ORDER BY cust_id, order_date """
result(Customers_orders)

Таблиця клієнтів та замовлень (cust_id, order_num), що відсортована по клієнту та даті замовлення
('1000000001', 20009)
('1000000001', 20005)
('1000000003', 20006)
('1000000004', 20007)
('1000000005', 20008)

In [30]:
# Виводимо таблицю (на основі Items) з кількістю та вартістю товару.
# Відсортована в порядку спадання по кількості та вартості товару:

print('Таблиця з кількістю та вартістю товару, що відсортована в порядку спадання по кількості та вартості товару')
Items = """ SELECT quantity, item_price FROM OrderItems ORDER BY quantity DESC, item_price DESC """
result(Items)

Таблиця з кількістю та вартістю товару, що відсортована в порядку спадання по кількості та вартості товару
(250, 2.49)
(250, 2.49)
(250, 2.49)
(100, 10.99)
(100, 5.49)
(100, 2.99)
(100, 2.99)
(100, 2.99)
(50, 11.49)
(50, 4.49)
(20, 5.99)
(10, 11.99)
(10, 8.99)
(10, 3.49)
(10, 3.49)
(10, 3.49)
(5, 11.99)
(5, 4.99)

In [33]:
# Виводимо товари з таблиці Products, ціна яких становить 9.49:

print('Товари, ціна яких становить 9.49:')
Product_1 = """ SELECT prod_name, prod_price FROM Products WHERE prod_price = 9.49 """
result(Product_1)

Товари, ціна яких становить 9.49:
('King doll', 9.49)
('Queen doll', 9.49)

In [36]:
# Виводимо назву товару та ціну яка лежить в діапозоні від 3 до 6.
# Результат відсортован в порядку зростання по ціні товару:

print('Товари, ціна яких від 3 до 6, відсортовані в порядку зростання:')
Product_2 = """ SELECT prod_name, prod_price FROM Products WHERE prod_price BETWEEN 3 AND 6 ORDER BY prod_price """
result(Product_2)

Товари, ціна яких від 3 до 6, відсортовані в порядку зростання:
('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)

### Завдання 2

In [38]:
# Кількість товару, що було продано:

print('Кількість товару, що було продано:')
count_items = """ SELECT SUM(quantity) FROM OrderItems """
result(count_items)

Кількість товару, що було продано:
(1430,)

In [42]:
# Кількість найменувань товару, ціна яких більше за 4:

print('Кількість найменувань товару, ціна яких більше за 4:')
count_prod_id = """ SELECT count(distinct(prod_id)) FROM Products WHERE prod_price > 4  """
result(count_prod_id)

Кількість найменувань товару, ціна яких більше за 4:
(6,)

In [46]:
# Виводимо 3 найдорожчі товари в базі:

print('3 найдорожчі товари в базі:')
max_price = """ SELECT prod_name, prod_price FROM Products ORDER BY prod_price DESC LIMIT 3  """
result(max_price)

3 найдорожчі товари в базі:
('18 inch teddy bear', 11.99)
('King doll', 9.49)
('Queen doll', 9.49)

In [57]:
# Вираховуємо кількість замовлень для кожного клієнта, використовуючи підзапити:

print('Kількість замовлень для кожного клієнта:')

count_orders = """
SELECT cust_id, count(distinct(order_num))
FROM Orders
GROUP BY cust_id
"""

result(count_orders)

Kількість замовлень для кожного клієнта:
('1000000001', 2)
('1000000003', 1)
('1000000004', 1)
('1000000005', 1)

In [58]:
# Виводимо список клієнтів та їх замовлень (використовуючи JOIN):

print('Cписок клієнтів та їх замовлень (використовуючи JOIN):')

list_orders = """
SELECT cust_name, order_num
FROM Orders
JOIN Customers on Customers.cust_id=Orders.cust_id
"""

result(list_orders)

Cписок клієнтів та їх замовлень (використовуючи JOIN):
('Village Toys', 20005)
('Fun4All', 20006)
('Fun4All', 20007)
('The Toy Store', 20008)
('Village Toys', 20009)

In [66]:
# Список товарів двома запитами: 1й - ціна яких < 5; 2Й - ціна яких >=5.
# Використати UNION для об'єднання запитів:

print('Cписок товарів з двох запитів (використовуючи UNION):')

list_products = """
SELECT prod_name, prod_price
FROM 
    (SELECT prod_name, prod_price
    FROM Products
    WHERE prod_price < 5

    UNION

    SELECT prod_name, prod_price 
    FROM Products
    WHERE prod_price >= 5)
ORDER BY prod_price
"""

result(list_products)

Cписок товарів з двох запитів (використовуючи UNION):
('Bird bean bag toy', 3.49)
('Fish bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)
('12 inch teddy bear', 8.99)
('King doll', 9.49)
('Queen doll', 9.49)
('18 inch teddy bear', 11.99)